/* CSS Definitions */

/* ############################################## --
 Class definitions.
 https://www.w3schools.com/html/html_css.asp
-- ############################################## */

details
  {
	   outline:none;
	 }
	 
/* Text justification class & for all p, div, h2, h3, h4 */

.just {
    text-align: justify;
    text-justify: inter-word;
    margin-left: 15px; margin-right: 15px;
}

p {
    text-align: justify;
    text-justify: inter-word;
    margin-left: 15px; margin-right: 15px;
}

div {
    margin-left: 15px; margin-right: 15px;
}

h2 {
    text-align: justify;
    text-justify: inter-word;
    margin-left: 15px; margin-right: 15px;
}

h3 {
    display : inline-block;
    text-align: justify;
    text-justify: inter-word;
    color: blue;
    margin-top: 10px; margin-bottom: 10px;
    margin-left: 15px; margin-right: 15px;
}

hh4 {
    display : inline-block;
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px; font-weight: bold;
    color: blue;
    margin-top: 0px; margin-bottom: 0px;
    margin-left: 0px; margin-right: 0px;
}

hh5m {
    display : inline-block;
    text-align: justify;
    text-justify: inter-word;
    font-size: 18px; font-weight: bold;
    color: CornflowerBlue;
    margin-top: 0px; margin-bottom: 0px;
    margin-left: 15px; margin-right: 0px;
}

hh5mm {
    display : inline-block;
    text-align: justify;
    text-justify: inter-word;
    font-size: 18px; font-weight: bold;
    color: DeepSkyBlue;
    margin-top: 0px; margin-bottom: 0px;
    margin-left: 25px; margin-right: 0px;
}

hh6m {
    display : inline-block;
    text-align: justify;
    text-justify: inter-word;
    text-decoration: underline;
    font-size: 17px; font-weight: bold;
    color: SaddleBrown;
    margin-top: 0px; margin-bottom: 0px;
    margin-left: 5px; margin-right: 0px;
}

/* p with no left margin (for lists?) */

p.smarg {
    text-align: justify;
    text-justify: inter-word;
    margin-left: 0px; margin-right: 15px;
}

/* Table 95% - default, sort of?*/

table.c1 {
    display:block; margin-left:auto; margin-right:auto;
    border:1px solid black; border-collapse: collapse;
    width:95%; background:pink;
}

table.c1 th {
    border:1px solid black;
    text-align: center;
    background-color: red;
    color: white;
}

table.c1 td {
    border:1px solid black;
}

/* Table 70%*/

table.c2 {
    display:block; margin-left:auto; margin-right:auto;
    border:1px solid black; border-collapse: collapse;
    width:70%; background:pink;
}

table.c2 th {
    border:1px solid black;
    text-align: center;
    background-color: red;
    color: white;
}

table.c2 td {
    border:1px solid black;
}

/* Table 80% ... new version? */

table.c3 {
    table-layout: auto;
    margin-left:40px; margin-right:auto;
    border:1px solid black; border-collapse: collapse;
    width:80%; background:PowderBlue;
}

table.c3 th {
    padding: 15px;
    border:1px solid black;
    text-align: center;
    background-color: red;
    color: white;
    width: auto;
}

table.c3 td {
    padding: 15px;
    border:1px solid black;
}

}

table.absorbing-column {
    width: 100%;
}

/* div for blocks of rambling text */

div.ramble {
    background-color: Moccasin; border-style: solid;
    width: 800px;
    margin-right: auto;
}

/* div for Suggestions */

div.suggestion {
    background-color: PeachPuff;
    border-style: solid;
    width: 800px;
}

/* div for Answers */

div.answer {
    background-color: LemonChiffon;
    width: 700px;
    border-left: 10px solid LemonChiffon;
}

/* div for Exercises */

div.exercise {
    background-color: MistyRose;
    border-style: solid;
    width: 800px
}

/* div for Questions */

div.question {
    background-color: SeaShell;
    border-style: solid;
    width: 800px
}

/* div for Exercise Checkpoints */

div.checkpoint {
    background-color: AntiqueWhite;
    border-style: solid;
    width: 800px
}

/* span for Answer Summary*/

span.anssum {
    display: inline-block;
    outline:none;
    width: 200px;
    background-color: LemonChiffon; 
}

/* span for Exercise Block Summary*/

span.exeblocksum {
    display: inline-block;
    outline:none;
    width: 200px;
    background-color: MistyRose; 
}

/* span for Exercise Summary*/

span.exesum {
    display: inline-block;
    outline:none;
    width: 550px;
    background-color: Pink; 
}

/* span for GUI Equivalents Summary*/

span.guisum {
    display: inline-block;
    outline:none;
    width: 200px;
    background-color: DarkGray; 
}

/* span for Comment Summary*/

span.comsum {
    display: inline-block;
    outline:none;
    width: 200px;
    background-color: LightGray; 
}

/* Class for Code Blocks */

.code {
    display:inline-block;
    background-color: White; color: Black;
    font-family: Courier; font-size: 18px; font-weight: bold;
    min-width: 20px; max-width: 800;   
}

/* Class for Code Blocks 18px (Default) */

.code18 {
    display:inline-block;
    background-color: White; color: Black;
    font-family: Courier; font-size: 18px; font-weight: bold;
    min-width: 20px; max-width: 800;   
}

/* Class for Code Blocks 16px */

.code16 {
    display:inline-block;
    background-color: White;
    font-family: Courier; font-size: 16px; font-weight: bold;
    min-width: 20px; max-width: 800;   
}

/* Class for Code Blocks 15px */

.code15 {
    display:inline-block;
    background-color: White;
    font-family: Courier; font-size: 15px; font-weight: bold;
    min-width: 20px; max-width: 800;   
}
/* Class for Code Blocks 14px */

.code14 {
    display:inline-block;
    background-color: White;
    font-family: Courier; font-size: 14px; font-weight: bold;
    min-width: 20px; max-width: 800;   
}
/* Class for Code Comment Blocks */

.codecomm {
    display:inline;
    background-color: White; color: Blue;
    font-family: Courier; font-size: 18px; font-weight: bold;
    min-width: 20px; max-width: 800;   
}


/* Class for Code Comment Blocks 18px (Default)*/

.codecomm18 {
    display:inline;
    background-color: White; color: Blue;
    font-family: Courier; font-size: 18px; font-weight: bold;
    min-width: 20px; max-width: 800;   
}

/* Class for Code Comment Blocks 16px */

.codecomm16 {
    display:inline;
    background-color: White; color: Blue;
    font-family: Courier; font-size: 16px; font-weight: bold;
    min-width: 20px; max-width: 800;   
}

/* Class for Code Comment Blocks 15px */

.codecomm15 {
    display:inline;
    background-color: White; color: Blue;
    font-family: Courier; font-size: 15px; font-weight: bold;
    min-width: 20px; max-width: 800;   
}
/* Class for Code Comment Blocks 14px */

.codecomm14 {
    display:inline;
    background-color: White; color: Blue;
    font-family: Courier; font-size: 14px; font-weight: bold;
    min-width: 20px; max-width: 800;   
}
/* span for Exercise Commands 22px */

span.command18 {
    display:inline-block;
    background-color: Black; color: White;
    font-family: Courier; font-size: 22px; font-weight: bold;
    position: relative; left: 15px;
    min-width: 120px; max-width: 800;   
}

/* span for Exercise Commands 20px */

span.command20 {
    display:inline-block;
    background-color: Black; color: White;
    font-family: Courier; font-size: 20px; font-weight: bold;
    position: relative; left: 15px;
    min-width: 120px; max-width: 800;   
}

/* span for Exercise Commands 19px */

span.command19 {
    display:inline-block;
    background-color: Black; color: White;
    font-family: Courier; font-size: 19px; font-weight: bold;
    position: relative; left: 15px;
    min-width: 120px; max-width: 800;   
}

/* span for Exercise Commands 18px default*/

span.command {
    display:inline-block;
    background-color: Black; color: White;
    font-family: Courier; font-size: 18px; font-weight: bold;
    position: relative; left: 15px;
    min-width: 120px; max-width: 800;   
}

/* span for Exercise Commands 18px*/

span.command18 {
    display:inline-block;
    background-color: Black; color: White;
    font-family: Courier; font-size: 18px; font-weight: bold;
    position: relative; left: 15px;
    min-width: 120px; max-width: 800;   
}

/* span for Exercise Commands 16px */

span.command16 {
    display:inline-block;
    background-color: Black; color: White;
    font-family: Courier; font-size: 16px; font-weight: bold;
    position: relative; left: 15px;
    min-width: 120px; max-width: 800;   
}

/* span for Exercise Commands 15px */

span.command15 {
    display:inline-block;
    background-color: Black; color: White;
    font-family: Courier; font-size: 15px; font-weight: bold;
    position: relative; left: 15px;
    min-width: 120px; max-width: 800;   
}

/* span for Exercise Commands 14px */

span.command14 {
    display:inline-block;
    background-color: Black; color: White;
    font-family: Courier; font-size: 14px; font-weight: bold;
    position: relative; left: 15px;
    min-width: 120px; max-width: 800;   
}

/* span for Exercise Commands 13px */

span.command13 {
    display:inline-block;
    background-color: Black; color: White;
    font-family: Courier; font-size: 14px; font-weight: bold;
    position: relative; left: 15px;
    min-width: 120px; max-width: 800;   
}

/* span for Exercise Commands 12px */

span.command12 {
    display:inline-block;
    background-color: Black; color: White;
    font-family: Courier; font-size: 12px; font-weight: bold;
    position: relative; left: 15px;
    min-width: 120px; max-width: 800;   
}

/* span for Exercise Commands 11px */

span.command11 {
    display:inline-block;
    background-color: Black; color: White;
    font-family: Courier; font-size: 11px; font-weight: bold;
    position: relative; left: 15px;
    min-width: 120px; max-width: 800;   
}

/* span for Exercise Commands 10px */

span.command10 {
    display:inline-block;
    background-color: Black; color: White;
    font-family: Courier; font-size: 10px; font-weight: bold;
    position: relative; left: 15px;
    min-width: 120px; max-width: 800;   
}

/* span for Quotes*/

span.quote {
    font-style: italic;
}

/* Class for Examples */

.example {
    background-color: MistyRose;
    width: 850px;
}

/* details for Answers */

details.answer {
    background-color: auto;
    width: 700px;
}
/* details for Exercise Comments */

details.comment {
    background-color: auto;
    width: 400px;
}

/* details for Exercise Comments alternative */

details.commenta {
    background-color: auto;
    width: 906px;
}
/* details for GUI Equivalents */

details.gui {
    background-color:LavenderBlush;
    width: 906px;
}

/* details for Videos */

details.video {
    background-color:Plum;
    width: 500px;
}

/* img classes to position images within text.
   https://www.w3schools.com/cssref/tryit.asp?filename=trycss_vertical-align */

img.bl { /* Default */
    vertical-align: baseline;
}

img.tt {
    vertical-align: text-top;
}

img.tb {
    vertical-align: text-bottom;
}

img.sub {
    vertical-align: sub;
}

img.sup {
    vertical-align: super;
}

.centimg {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.cent40 {
    display: block;
    margin-left: 40;
    margin-right: auto
}
/* class for Minor Sections */

.minsect {
    display: block;
    background: PapayaWhip  ; border-right: 106px;
    width: 906px;
    margin-left: 0px; margin-right: 15px;
}

/* span for Minor Sections Summary*/

span.minsectsum {
    display: inline-block;
    outline:none;
    width: 500px;
    background-color: PapayaWhip; 
}

/* class for Major Sections */

.msect {
    background: LavenderBlush; border-right: 106px;
    width: 800px;
    outline:none;
    margin-left: 0px;
    margin-right: 15px;
}

/* class for Major Sections Summary - Admin */

.msectsumadm {
    display: inline-block;
    outline:none;
    background: Silver;
    width: 515px;
}

/* class for Major Sections Summary - Prerequisites */

.msectsumpre {
    display: inline-block;
    outline:none;
    background: SpringGreen;
    width: 515px;
}

/* class for Major Sections Summary - Language Implementation */

.msectsumlan {
    display: inline-block;
    outline:none;
    background: LightSalmon;
    width: 515px;
}

/* class for Major Sections Summary - Data Elements & Basic Language Features */

.msectsumdat {
    display: inline-block;
    outline:none;
    background: Turquoise;
    width: 515px;
}

/* class for Major Sections Summary - Builtin Functionality */

.msectsumfun {
    display: inline-block;
    outline:none;
    background: CornFlowerBlue;
    width: 515px;
}
/* class for Major Sections Summary - Modules */

.msectsummod {
    display: inline-block;
    outline:none;
    background: Turquoise;
    width: 515px;
}

/* class for Major Sections Summary - Language Extension */

.msectsumext {
    display: inline-block;
    outline:none;
    background: RosyBrown;
    width: 515px;
}

/* class for Major Sections Summary - Control & Structure */

.msectsumcon {
    display: inline-block;
    outline:none;
    background: Gold;
    width: 515px;
}

/* class for Sections List*/

.lsect {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: LavenderBlush; padding: 50px;
    width: 960px;
}

/* class for Exercise New Commands */

.new_command {
    background-color: LightGreen; border-style: double;
    max-width: 800px;
    margin-right: auto;
}

/* class for Experiments */

.experiment {
    background-color: Linen; color: auto;
    margin-right: auto;
    width: 775px;
}

/* class for Problem Definitions */

.problem {
    background-color: Gainsboro; color: auto;
    margin-left: 5px;
    margin-right: 10px;
    width: auto;
}

/* class for Pseudo Code */

.pseudo {
    background-color: LightBlue; color: auto;
    margin-left: 5px;
    margin-right: 10px;
    width: auto;
}

/* class for thin Pseudo Code */

.pseudos {
    background-color: LightBlue; color: auto;
    margin-left: 5px;
    margin-right: 10px;
    width: auto;
}

/* class for Output */

.output {
    background-color: cyan; color: auto;
    margin-left: 5px;
    margin-right: 10px;
    width: auto;
}
/* class for Hints  */

.hint {
    background-color: MediumSpringGreen; color: Maroon;
    max-width: 750px;
    margin-right: auto;
}

/* class for Command text 16 px - default */

.comtxt {
    display: inline-block;
    background-color: Black; color: White;
    font-family: Courier; font-size: 16px; font-weight: bold;
}

/* class for Command text 14 px */

.comtxt14 {
    display: inline-block;
    background-color: Black; color: White;
    font-family: Courier; font-size: 14px; font-weight: bold;
}

/* ############################################## --
 Code for grid containers. Copied from:
 https://www.w3schools.com/css/css_grid_container.asp
 My understanding? - think I get this one ... but!
 Pity number of columns is fixed?? I choose 3 for now.
 Do I have to repeat for different column counts?

 Mabe I can override with a local grid-template-columns?
 Experiment later.
-- ############################################## */

.grid-container {
  justify-content: space-evenly;
  display: grid;  align-content: start; grid-gap: 5px;
  grid-template-columns: auto auto auto;
  background-color: Yellow;
}

.grid-container > div {
  background-color: Yellow;
  text-align: center; font-size: 14px;
}

/* ############################################## --
 Code for grid containers with two columns.
-- ############################################## */

.grid-container2 {
  justify-content: space-evenly;
  display: grid;  align-content: start; grid-gap: 5px;
  grid-template-columns: auto auto;
  background-color: Yellow;
}

.grid-container2 > div {
  background-color: Yellow;
  text-align: center; font-size: 14px;
}

/* ############################################## --
 Code for grid containers with two columns, no colours, left adjustment.
-- ############################################## */

.grid-container2p {
  justify-content: space-evenly;
  display: grid;  align-content: start; grid-gap: 2px;
  grid-template-columns: auto auto;
  background-color: auto;
}
.grid-container2p > div {
  background-color: lightblue;
  text-align: left; font-size: 14px;
}

/* ############################################## --
 Code for grid containers. END.
-- ############################################## */

/* ############################################## --
 Code for popups. Copied wholesale from:
 https://www.w3schools.com/howto/howto_js_popup.asp
 My understanding? - Partial :-(
 
 Correction!! Not copied wholesale. The w3 version
 only works if you only ever want 1 popup???
 a second invocation "pops" the first popup?
 I do not fully understand why. It should work.
 Seems one cannot overwrite the first popup definition?
 Anyway, solution is to pass the popup as a parameter
 having made each popup with a new id.
 I WIN! At the cost of hours. During which I learned some stuff
 including that this webbie thing is a bloody messy business.
-- ############################################## */
 
 /* Popup container - can be anything you want */
.popup {
  position: relative; display: inline-block; cursor: pointer;
  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden; width: 160px;
  color: SlateGray; background-color: Wheat;
  text-align: center; border-radius: 6px; padding: 8px 0; position: absolute;
  z-index: 1; bottom: 75%; left: 60%; margin-left: 5px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: ""; position: absolute; top: 100%; left: 50%; margin-left: -5px;
  border-width: 5px; border-style: solid; border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible; -webkit-animation: fadeIn 1s; animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;} to {opacity:1 ;}
}
 
/* ############################################## --
 Code for popups. See Javascript at end of body.
-- ############################################## */
 
/* ############################################## --
 Code for buttons on an image. Copied wholesale from:
 https://www.w3schools.com/howto/howto_css_button_on_image.asp
 My understanding? - Partial :-(
-- ############################################## */

 /* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative; width: 100%;
}

/* Make the image responsive */
.container img {
  width: 100%; height: 100%;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute; top: 100%; left: 95%;
  transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%);
  background-color: #555; color: white;
  font-size: 16px; padding: 12px 24px; border: none;
  cursor: pointer; border-radius: 5px;
}

.container .btn:hover {
  background-color: LightBlue;
}
 
/* ############################################## --
 Code for buttons on an image. END.
-- ############################################## */